.coin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 180px;
    color: #fff;

    &__search {
        margin-bottom: 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    &__labels {
        width: 450px;
        display: flex;
        font-size: 20px;
        margin-bottom: 20px;

        &--label:first-of-type {
            margin-right: 210px;
        }
    }

    &__text {
        margin-bottom: 32px;
        text-align: center;
    }

    &__input {
        padding-left: 16px;
        width: 300px;
        height: 50px;
        border-radius: 4px;
        border: none;
        background-image: linear-gradient(
          -225deg,
          #ac32e4 0%,
          #7918f2 48%,
          #4801ff 100%
        );
        font-family: 'Montserrat', sans-serif;
        color: #e2e2e2;

        &::placeholder {
            color: #e2e2e2;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 80px;
        border-bottom: 1px solid #d7d7d7;
        width: 450px;
    }

    &__single {
        display: flex;
        align-items: center;
        min-width: 300px;
    }

    &__link, .tooltip {
        font-size: 16px;
        width: 220px;
        margin-right: 40px;
        color: #fff;

        position: relative;
        display: inline-block;

        &:hover {
            text-decoration: underline;

            /* Show the tooltip text when you mouse over the tooltip container */
            .tooltiptext {
                visibility: visible;
                opacity: 1;
            }
        }

        /* Tooltip text */
        .tooltiptext {
            visibility: hidden;
            width: 180px;
            background-image: linear-gradient(
            -225deg,
            #ac32e4 0%,
            #7918f2 48%,
            #4801ff 100%
            );
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;

            /* Position the tooltip text */
            position: absolute;
            z-index: 1;
            top: -5px;
            left: 190%;

            /* Fade in tooltip */
            opacity: 0;
            transition: opacity .3s;

            /* Tooltip arrow */

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 100%;
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent #ac32e4 transparent transparent;
            }
        }
    }

    &__image {
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }

    &__symbol {
        text-transform: uppercase;
    }

    &__data {
        display: flex;
        text-align: right;
        justify-content: space-between;
        width: 100%;
    }

    &__price {
        width: 110px;
    }

    &__volume {
        width: 155px;
    }

    &__marketcap {
        width: 230px;
    }

    &__percent {
        width: 100px;
    }
}